
{{> header}}
    <div class="container py-5">
        <p>This site was created by Islomzhan Akhmedov.
            It uses data from mapbox.com and weatherstack.com!
        </p>
    </div>
{{> footer}}